.elements__delete-button {
  position: absolute;
  top: 1.125rem;
  right: 1rem;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0;
  border: 0;
  background-image: url(../../../images/elements/__delete-button/delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  opacity: 1;
  transition: opacity .1s cubic-bezier(.0,.0,.2,1) 0s;
  cursor: pointer;
}

.elements__delete-button:focus,
.elements__delete-button:hover {
  opacity: .6;
}

.elements__delete-button:active {
  opacity: .4;
}
