@import './__avatar/profile__avatar.css';
@import './__info/profile__info.css';
@import './__name/profile__name.css';
@import './__job/profile__job.css';
@import './__edit-button/profile__edit-button.css';

.profile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2.25rem;
  font-size: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
    margin-bottom: 3.1875rem ;
    text-align: left;
  }
}
