.button_type_edit {
  width: 1.125rem;
  height: 1.125rem;
  background-image: url(../../../images/button/editor.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: text-bottom;
  transition: opacity .1s cubic-bezier(.0,.0,.2,1) 0s;
  will-change: opacity;
}

.button_type_edit:focus,
.button_type_edit:hover {
  opacity: .6;
}

.button_type_edit:active {
  opacity: .4;
}

@media screen and (min-width: 768px) {
  .button_type_edit {
    width: 1.5rem;
    height: 1.5rem;
  }
}
