.profile__details {
  margin: 1.35rem 0 2.25rem;
}

@media screen and (min-width: 768px) {
  .profile__details {
    width: calc(100% - 7.5rem - 9.375rem - 1.875rem);
    padding-right: 1rem;
    margin: 0 0 0 1.875rem;
    box-sizing: border-box;
  }
}
