.elements__like-button {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0;
  background-image: url(../../../images/elements/__like-button/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.125rem;
  background-position: 50% 50%;
  transition: transform .1s cubic-bezier(.0,.0,.2,1) 0s;
  cursor: pointer;
}

.elements__like-button:focus,
.elements__like-button:hover {
  transform: scale(1.2);
}

.elements__like-button:active {
  transform: scale(.96);
}
